body{
    background-color: vio;
}
.header{
    border: 1px solid black;
    text-align: center;

}

.padre{
    border: 1px solid black;
    text-align: center;
}
.sidebar, .contenido{
    border: 1px solid black;
    padding: 0px 0px 5px 0px;
}

h2, h4{
    text-align: center;
}
h6{
    text-align: left;
}

footer{
    border: 1px solid black;
    text-align: center;
}


/*Para hacerla responsive */
@media(min-width: 750px){
    .padre{
        display:flex;
    }
    footer{
        display: flex;
        justify-content: space-between;
    }
}